<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .main-header {
            position: relative;
            height: 100vh;
            width: 100%;
            background: url(/static/bg.jpg) center center;
            background-size: cover;
            margin-top: -60px;
        }
        .hero-lead {
            font-size: 6em;
            font-weight: 700;
            letter-spacing: 2px;
            color: #ececec;
            margin-bottom: 50px;
            text-align: center;
            padding-top: 130px;
        }
    </style>
</head>
<body>
<a href="https://www.testqa.cn" target="_blank">
    <div class="main-header">
        <h1 class="hero-lead">Hello {{name}}</h1>
    </div>
</a>
</body>
</html>